# Python Sanal Ortam Klasörü
venv/
kullanıcı vcf/
.idea/
__pycache__/
uploads/
**/filtrelenmis_genotip_TUM_KROMOZOM_top7000_snps

# İşletim Sistemi Dosyaları
.DS_Store

# Log ve Veri Dosyaları
*.log
*.dat